<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rajsadaye.mathfarm">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:overrideLibrary="android.support.v7.appcompat">
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:stopWithTask="true"/>

        <activity
            android:name=".Home"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Video"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Countingquiz"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Countingoptions"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Shapesoptions"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Shapesquiz"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Plusoptions"
            android:screenOrientation="landscape" />
        <activity android:name=".Video2"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
